.app__chef_content {
  display: flex;
  margin-top: 5rem;
  width: 100%;
}

.app__chef_content_quote {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.app__chef_content_quote img {
  width: 47px;
  height: 40px;
  margin: 0 1rem 1rem 0;
}

.app__chef_sign {
  width: 100%;
  margin-top: 3rem;
}

.app__chef_sign p:first-child {
  font-family: var (--font-base);
  font-weight: 400;
  font-size: 32px;
  line-height: 41px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
}

@media (max-width: 1192px) {
  .app__wrapper_info {
    margin-top: 5rem;
  }
}
